@font-face {
    font-family: ArtegraSans-Light ;
    src: url(../fonts/ArtegraSans-Light.otf);
}

@font-face {
    font-family: ArtegraSans-Bold ;
    src: url(../fonts/ArtegraSans-Bold.otf);
}

@font-face {
    font-family: ArtegraSans-BoldItalic;
    src: url(../fonts/ArtegraSans-BoldItalic.otf);
}


@font-face {
    font-family: ArtegraSans-Regular;
    src: url(../fonts/ArtegraSans-Regular.otf);
}

body
{
    margin: 0;
    padding: 0;
    background: url(../img/bg.png) ;

}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

/*///////////////////\ INCIO CUSTOM SCROLLBAR /\\\\\\\\\\\\\\\\\\\*\

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
  }


/*///////////////////\ FIM CUSTOM SCROLLBAR /\\\\\\\\\\\\\\\\\\\*/



/*///////////////////\ INICIO NAVBAR /\\\\\\\\\\\\\\\\\\\*/
.navbar
{
    background-color: #161616;
    height: 50px;
}

.navbar #thunder
{
    font-family: ArtegraSans-Bold;
    color: #00BAFF;
    font-size: 35px;
    text-shadow: 0 5px 70px #00BAFF;
}

.navbar #subs
{
    font-family: ArtegraSans-Light;
    font-size: 15px;
    margin-top: 15px;
}

.navbar .nav-item .nav-link
{
    color: #fff;
}

.navbar .nav-item .nav-link:hover
{
    color: #00BAFF;
}



/*///////////////////\ FIM NAVBAR /\\\\\\\\\\\\\\\\\\\*/


  
 .main ul {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
  }
  
  .main ul li {
    list-style:none;
    margin:0 5px;
  }
  
  .main ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  .main ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  .main ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  .main ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  .main  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  .main  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  .main ul li:hover .fa {
    color:#fff;
  }
  
  .main  ul li:hover span {
    color:#fff;
  }
  
  .main  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  .main ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  .main  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  .main ul li:hover:nth-child(2) a{
    background: #00aced;
  }
  .main  ul li:hover:nth-child(2) a:before{
    background: #097aa5;
  }
  .main  ul li:hover:nth-child(2) a:after{
    background: #53b9e0;
  }
  
  .main  ul li:hover:nth-child(3) a{
    background: #dd4b39;
  }
  .main ul li:hover:nth-child(3) a:before{
    background: #b33a2b;
  }
  .main ul li:hover:nth-child(3) a:after{
    background: #e66a5a;
  }
  
  .main ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  .main ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  .main ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }